@import "~bootstrap/scss/bootstrap";

body {
    background-image: url('../javascripts/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}